<script src="../../dist/winston-churchill.js"></script>

<template id="plusplus-select">

    <style>

        :host {
            display: block;
            opacity: 1;
        }

        :host:unresolved {
            opacity: 0;
        }

        ::content > * {
            display: none;
        }

        :host([open]) ::content > * {
            display: block;
        }

        ::content #option2 {
            display: block;
        }

    </style>


    <div class="wrapper">
        <content></content>
    </div>
    

    
</template>
<script src="plusplus-select.js"></script>
